.App{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
  color: #333;
  text-align: center
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

button{
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: aqua;
}

button:hover{
  background-color: #00bfff;
}
li button:hover{
  background-color: red;
}
li{
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input[type="text"]{
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50%;
  margin-right: 3px;
}